src/test/resources/xsd/schemas_pes_v5.17/PES_V2/RETOUR/Simple_Type_Retour.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Base_Alphanum1">
		<xs:attribute name="V" type="V_Alphanum1" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Alphanum2">
		<xs:attribute name="V" type="V_Alphanum2" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Alphanum3">
		<xs:attribute name="V" type="V_Alphanum3" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Alphanum4">
		<xs:attribute name="V" type="V_Alphanum4" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Alphanum5">
		<xs:attribute name="V" type="V_Alphanum5" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Alphanum9">
		<xs:attribute name="V" type="V_Alphanum9" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum9">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:complexType name="Base_Alphanum10">
		<xs:attribute name="V" type="V_Alphanum10" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Alphanum11">
		<xs:attribute name="V" type="V_Alphanum11" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Alphanum14">
		<xs:attribute name="V" type="V_Alphanum14" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum14">
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Alphanum15">
		<xs:attribute name="V" type="V_Alphanum15" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Alphanum20">
		<xs:attribute name="V" type="V_Alphanum20" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Alphanum20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:pattern value="[0-9a-zA-Z]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num1">
		<xs:attribute name="V" type="V_Num1" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num1">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="1"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num2">
		<xs:attribute name="V" type="V_Num2" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num2">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="2"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num3">
		<xs:attribute name="V" type="V_Num3" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num3">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="3"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num4">
		<xs:attribute name="V" type="V_Num4" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num4">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="4"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num5">
		<xs:attribute name="V" type="V_Num5" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num5">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="5"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num6">
		<xs:attribute name="V" type="V_Num6" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num6">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="6"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num7">
		<xs:attribute name="V" type="V_Num7" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num7">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="7"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num9">
		<xs:attribute name="V" type="V_Num9" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num9">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="9"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num12">
		<xs:attribute name="V" type="V_Num12" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num12">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="12"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num13">
		<xs:attribute name="V" type="V_Num13" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num13">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="13"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num14">
		<xs:attribute name="V" type="V_Num14" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num14">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="14"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num15">
		<xs:attribute name="V" type="V_Num15" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num15">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="15"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Num20">
		<xs:attribute name="V" type="V_Num20" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Num20">
		<xs:restriction base="xs:string">
	      <xs:maxLength value="20"/>
		  <xs:pattern value="[0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte2">
		<xs:attribute name="V" type="V_Texte2" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte3">
		<xs:attribute name="V" type="V_Texte3" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte5">
		<xs:attribute name="V" type="V_Texte5" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_TexteCodique7">
		<xs:attribute name="V" type="V_TexteCodique7" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_TexteCodique7">
		<xs:restriction base="xs:string">
			<xs:maxLength value="7"/>
			<xs:pattern value="(02[A-B][0-9]{3,4}|[0-9]{6,7})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte9_15">
		<xs:attribute name="V" type="V_Texte9_15" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte9_15">
		<xs:restriction base="xs:string">
			<xs:minLength value="9"/>
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte10">
		<xs:attribute name="V" type="V_Texte10" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte11">
		<xs:attribute name="V" type="V_Texte11" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte11">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte12">
		<xs:attribute name="V" type="V_Texte12" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte15">
		<xs:attribute name="V" type="V_Texte15" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:complexType name="Base_Texte18">
		<xs:attribute name="V" type="V_Texte18" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte18">
		<xs:restriction base="xs:string">
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte20">
		<xs:attribute name="V" type="V_Texte20" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte20">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte24">
		<xs:attribute name="V" type="V_Texte24" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte24">
		<xs:restriction base="xs:string">
			<xs:maxLength value="24"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte25">
		<xs:attribute name="V" type="V_Texte25" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte25">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte30">
		<xs:attribute name="V" type="V_Texte30" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte32">
		<xs:attribute name="V" type="V_Texte32" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte34">
		<xs:attribute name="V" type="V_Texte34" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte34">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:complexType name="Base_Texte38">
		<xs:attribute name="V" type="V_Texte38" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte38">
		<xs:restriction base="xs:string">
			<xs:maxLength value="38"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte50">
		<xs:attribute name="V" type="V_Texte50" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte50">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte70">
		<xs:attribute name="V" type="V_Texte70" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte70">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>	
      <xs:complexType name="Base_Texte80">
      <xs:attribute name="V" type="V_Texte80" use="required"/>
    </xs:complexType>
    <xs:simpleType name="V_Texte80">
      <xs:restriction base="xs:string">
        <xs:maxLength value="80"/>
      </xs:restriction>
    </xs:simpleType>	
	<xs:complexType name="Base_Texte100">
		<xs:attribute name="V" type="V_Texte100" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte100">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte160">
		<xs:attribute name="V" type="V_Texte160" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte160">
		<xs:restriction base="xs:string">
			<xs:maxLength value="160"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte255">
		<xs:attribute name="V" type="V_Texte255" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte255">
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte256">
		<xs:attribute name="V" type="V_Texte256" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte400">
		<xs:attribute name="V" type="V_Texte400" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte400">
		<xs:restriction base="xs:string">
			<xs:maxLength value="400"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Annee">
		<xs:attribute name="V" type="V_Annee" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Annee">
		<xs:restriction base="xs:gYear"/>
	</xs:simpleType>
	<xs:complexType name="Base_Booleen">
		<xs:attribute name="V" type="V_Booleen" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Booleen">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="Base_Date">
		<xs:attribute name="V" type="V_Date" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Date">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:complexType name="Base_Montant">
		<xs:attribute name="V" type="V_Montant" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Montant">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte34IBAN">
		<xs:attribute name="V" type="V_Texte34IBAN" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte34IBAN">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Base_Texte11BIC">
		<xs:attribute name="V" type="V_Texte11BIC" use="required"/>
	</xs:complexType>
	<xs:simpleType name="V_Texte11BIC">
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
			<xs:minLength value="8"/>
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	 <xs:complexType name="Base_Texte_CodePays_3">
    <xs:attribute name="V" type="V_Texte_CodePays_3" use="required"/>
  </xs:complexType>
  <xs:simpleType name="V_Texte_CodePays_3">
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:pattern value="[1-5][0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Base_Texte_CodeDepartement_2_3">
    <xs:attribute name="V" type="V_Texte_CodeDepartement_2_3" use="required"/>
  </xs:complexType>
  <xs:simpleType name="V_Texte_CodeDepartement_2_3">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
      <xs:minLength value="2"/>
      <xs:pattern value="2[A-B]|[0-8][0-9]|9[0-5]|97[1-8]|98[6-8]"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Base_Texte_CodeCommune_2_3">
    <xs:attribute name="V" type="V_Texte_CodeCommune_2_3" use="required"/>
  </xs:complexType>
  <xs:simpleType name="V_Texte_CodeCommune_2_3">
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
      <xs:minLength value="2"/>
      <xs:pattern value="[0-9]{2,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Base_Texte_Libelle_Naissance_70">
    <xs:attribute name="V" type="V_Texte_Libelle_Naissance_70" use="required"/>
  </xs:complexType>
  <xs:simpleType name="V_Texte_Libelle_Naissance_70">
    <xs:restriction base="xs:string">
      <xs:maxLength value="70"/>
      <xs:minLength value="1"/>
      <xs:pattern value="[A-Z 0-9'\-Œ\(\)]*"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
