src/test/resources/xsd/schemas_pes_v5.17/PES_V2/NS_Marche/r0/CommunMarche.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TNatIdTiersMarche">
    <xs:annotation>
      <xs:documentation>Type d'identifiant du tiers.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>SIRET</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="05">
            <xs:annotation>
              <xs:documentation>TVA INTRA COMMUNAUTAIRE</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="06">
            <xs:annotation>
              <xs:documentation>HORS UE</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="07">
            <xs:annotation>
              <xs:documentation>TAHITI</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="08">
            <xs:annotation>
              <xs:documentation>RIDET</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="09">
            <xs:annotation>
              <xs:documentation>EN COURS IMMATRICULATION</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="10">
            <xs:annotation>
              <xs:documentation>FRWF</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="11">
            <xs:annotation>
              <xs:documentation>IREP</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TNatureMarche">
    <xs:annotation>
      <xs:documentation>Nature du marché public</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Marché</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Marché De Partenariat</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Accord Cadre À Bons De Commande</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>Accord Cadre Avec Marché Subséquent Ou Mixte</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="05">
            <xs:annotation>
              <xs:documentation>Marché Subséquent</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="06">
            <xs:annotation>
              <xs:documentation>Complémentaire</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="07">
            <xs:annotation>
              <xs:documentation>Autre</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TNatureConcession">
    <xs:annotation>
      <xs:documentation>Nature du contrat de concession</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Concession de travaux</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Concession de service</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Concession de service public</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>Délégation de service public</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TTypeCode">
    <xs:annotation>
      <xs:documentation>Type de code pour désigner le lieu d'exécution, hormis "code postal", les codes sont des codes géographiques gérés par l'INSEE.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Code postal</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Code commune</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Code canton</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>Code arrondissement</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="05">
            <xs:annotation>
              <xs:documentation>Code  département</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="06">
            <xs:annotation>
              <xs:documentation>Code région</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="07">
            <xs:annotation>
              <xs:documentation>Code pays</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TProcedureMarche">
    <xs:annotation>
      <xs:documentation>Procédure de passation du marché public</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Procédure adaptée</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Appel d'offres ouvert</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Appel d'offres restreint</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>Procédure concurrentielle avec négociation</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="05">
            <xs:annotation>
              <xs:documentation>Procédure négociée avec mise en concurrence préalable</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="06">
            <xs:annotation>
              <xs:documentation>Marché négocié sans publicité ni mise en concurrence</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="07">
            <xs:annotation>
              <xs:documentation>Dialogue compétitif</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="08">
            <xs:annotation>
              <xs:documentation>Concours</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="09">
            <xs:annotation>
              <xs:documentation>Système d'acquisition dynamique</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="10">
            <xs:annotation>
              <xs:documentation>Autre</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TProcedureConcession">
    <xs:annotation>
      <xs:documentation>Procédure de passation du contrat de concession.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Procédure négociée ouverte</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Procédure non négociée ouverte</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Procédure négociée restreinte</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>Procédure non négociée restreinte</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TFormePrix">
    <xs:annotation>
      <xs:documentation>Forme du prix du marché public.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Unitaire</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Forfaitaire</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Mixte</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TVariationPrix">
    <xs:annotation>
      <xs:documentation>Variation du prix du marché public.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Ferme</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Ferme et actualisable</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Révisable</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>Provisoire (Article 19 du décret 2016-360)</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TTypeTitulaireMarche">
    <xs:annotation>
      <xs:documentation>Type opérateur économique intervenant sur un marché public.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Titulaire du marché</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Co-traitant</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TTypeGroupement">
    <xs:annotation>
      <xs:documentation>Type de groupement pour les marchés publics uniquement.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Aucun groupement</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Groupement solidaire</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Groupement conjoint</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TModaliteExecution">
    <xs:annotation>
      <xs:documentation>Modalité d'exécution du marché public.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Ordinaire</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>À Bon De Commande</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>À Tranches</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>À Tranches Et Bons De Commandes</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="05">
            <xs:annotation>
              <xs:documentation>Autre</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="06">
            <xs:annotation>
              <xs:documentation>À phase</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TCCAGReference">
    <xs:annotation>
      <xs:documentation>Référence de CCAG (Cahier des Clauses Administratives Générales) pour un marché public.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>T      : CCAG Travaux</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>FCS : CCAG Fournitures courantes et prestations de Services</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>MI    :  CCAG Marchés publics Industriels</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>PI     :  CCAG Prestations intellectuelles</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="05">
            <xs:annotation>
              <xs:documentation>TIC   :  CCAG Techniques de l'information et de la communication</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="06">
            <xs:annotation>
              <xs:documentation>A     :  Aucun CCAG visé</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TTypeGarantie">
    <xs:annotation>
      <xs:documentation>Type de garantie applicable.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Aucune</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Retenue de garantie</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Garantie à première demande</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>Caution Personnelle et solidaire</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="05">
            <xs:annotation>
              <xs:documentation>Autres</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TReconductibilite">
    <xs:annotation>
      <xs:documentation>Reconduction du marché</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>non reconductible</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>reconductible tacite</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>reconductible expresse</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TRegimeAvance">
    <xs:annotation>
      <xs:documentation>Type d'avance</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Aucune</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Obligatoire</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Facultative</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>A chaque bon de commande</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="05">
            <xs:annotation>
              <xs:documentation>Refusée</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TTypeGarantieAvance">
    <xs:annotation>
      <xs:documentation>Type de garantie liée à l'avance</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="01">
            <xs:annotation>
              <xs:documentation>Aucune</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="02">
            <xs:annotation>
              <xs:documentation>Garantie a Première Demande</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="03">
            <xs:annotation>
              <xs:documentation>Caution Personnelle et Solidaire</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="04">
            <xs:annotation>
              <xs:documentation>Autres</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TPJMarche">
    <xs:annotation>
      <xs:documentation>Type de PJ Marché.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="V" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="009">
            <xs:annotation>
              <xs:documentation>Pièce contractuelle Marché</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:schema>

