src/test/resources/xsd/schemas_pes.v5.12/PES_V2/NS_Marche/r0/Class_VentilationMontant.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cm="http://www.minefi.gouv.fr/cp/helios/pes_v2/commun">
  <xs:import namespace="http://www.minefi.gouv.fr/cp/helios/pes_v2/commun" schemaLocation="../../Class_SchemasCommuns.xsd" />
  <xs:include schemaLocation="CommunMarche.xsd" />
  <xs:include schemaLocation="Class_ConditionsExecution.xsd" />
  <xs:complexType name="TVentilationsAcheteurs">
    <xs:annotation>
      <xs:documentation>Ventilation des montants par acheteur</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VentilationAcheteur" type="TVentilationAcheteur" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ventilation des montants par acheteur.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TVentilationAcheteur">
    <xs:annotation>
      <xs:documentation>Ventilation du montant par acheteur</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdAcheteur" type="cm:Base_Num14_14_Light">
        <xs:annotation>
          <xs:documentation>SIRET de l'acheteur (Siret du budget collectivité).
Le SIRET doit être référencé dans la liste des acheteurs du marché (cf. bloc &lt;Acheteur&gt;), sinon rejet du Marché.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MontantHTNotifie" type="cm:Base_Montant_Light">
        <xs:annotation>
          <xs:documentation>Montant HT qui a été notifié à cet acheteur. 

Le montant HT notifié de l'acheteur doit être égal à la somme des montants HT notifiés aux titulaires et aux sous-traitants référencés dans la « VentilationsTitulaire » associée à l'acheteur, sinon rejet du Marché.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CaractereEstimatifMontantNotifie" type="cm:Base_Booleen">
        <xs:annotation>
          <xs:documentation>Caractère estimatif du montant notifié.
Valeur 1 : le montant est estimatif.
Valeur 0 : le montant est ferme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MontantTVANotifie" type="cm:Base_Montant" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Montant de la TVA correspondant au montant HT notifié et affecté à cet acheteur.

Le montant TVA notifié de l'acheteur doit être égal à la somme des montants TVA notifiés aux titulaires et aux sous-traitants référencés dans la « VentilationsTitulaire » associée à l'acheteur, sinon rejet du Marché.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VentilationsTitulaire" type="TVentilationsTitulaire">
        <xs:annotation>
          <xs:documentation>Ventilation des montants par titulaires</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TVentilationsTitulaire">
    <xs:annotation>
      <xs:documentation>Ventilation des montants par titulaires</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VentilationTitulaire" type="TVentilationTitulaire" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ventilation des montants par titulaires.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TVentilationTitulaire">
    <xs:annotation>
      <xs:documentation>Ventilation du montant par titulaire</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NatIdTitulaire" type="TNatIdTiersMarche">
        <xs:annotation>
          <xs:documentation>Type d'Identifiant national de l'opérateur économique.
- 01 SIRET
- 05 TVA,
- 06 HORS UE
- 07 TAHITI, 
- 08 RIDET,
- 09 EN COURS IMMATRICULATION,
- 10 FRWF,
- 11 IREP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdTitulaire" type="cm:Base_Texte9_100">
        <xs:annotation>
          <xs:documentation>Identifiant national du titulaire de type :
- numéro siret (SIREN+NIC), (identifiant français, 14 chiffres)
- numéro de TVA intracommunautaire (numéro de TVA intracommunautaire, pour les entreprises de pays membres de l'Union européenne) au moins 9 caractères
- HORS-UE (identifiants pour les entreprises de pays non membres de l'Union Européenne. Code pays ISO 3166 + 16 premiers caractères de la dénomination sociale. Ex. : BRDASILVAMOTORES)
- Tahiti (identifiants pour Tahiti et la Polynésie française, 9 chiffres)
- Ridet (identifiants pour la Nouvelle-Calédonie, 10 chiffres),
- EN_COURS_IMMATRICULATION,
- FRWF (identifiants pour Wallis-et-Futuna, " FRWF " + 14 premières lettres de la raison sociale. Ex. : FRWFDURANDCHAUFFAG),
- IREP (personnes physiques françaises, 5 chiffres + LIEU DE NAISSANCE + NOM + PRENOM. Ex. : 18102VANNESDURANDMATHIEU), 80 caractères au maximum.

Nb : la balise &lt;IdTitulaire&gt; est un alphanumérique de 9 à 80 caractères.

Pour les seuls identifiants de type SIRET des contrôles de validité sont effectués. La clé de l'identifiant doit être valide, sinon rejet du Marché. Les longueurs possibles sont 14 pour le Siret, au moins 9 pour TVA, 18 pour HORS-UE (les deux premiers caractères doivent correspondre au code pays ISO 3166), 9 pour Tahiti (9 chiffres), 9 ou 10 pour Ridet (10 chiffres), 18 caractères au maximum pour FRWF (en plus : les 4 premiers caractères = FRWF), 80 caractères au maximum pour IREP (les 5 premiers caractères sont des chiffres).

Le titulaire doit être référencé dans la liste des opérateurs [Titulaire] du marché, sinon rejet du Marché.
Le titulaire doit être référencé pour un acheteur donné une seule fois dans la « VentilationTitulaire », sinon rejet du Marché.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MontantHTNotifie" type="cm:Base_Montant_Light">
        <xs:annotation>
          <xs:documentation>Montant HT qui a été notifié à ce titulaire.
Pour chaque acheteur, la somme des montants HT notifiés aux titulaires et à leurs sous-traitants doit être égale au montant HT notifié à l'acheteur, sinon rejet du Marché.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CaractereEstimatifMontantNotifie" type="cm:Base_Booleen">
        <xs:annotation>
          <xs:documentation>Caractère estimatif du montant notifié.
Valeur 1 : le montant est estimatif.
Valeur 0 : le montant est ferme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MontantTVANotifie" type="cm:Base_Montant" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Montant de la TVA correspondant au montant notifié et affecté à ce titulaire par l'acheteur (supérieur ou égal à zéro).
Pour chaque acheteur, la somme des montants TVA notifiés aux titulaires et à leurs sous-traitants doit être égale au montant TVA notifié de l'acheteur, sinon rejet du Marché.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VentilationsSousTraitantPaiementDirect" type="TVentilationsSousTraitantPaiementDirect" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Ventilation des montants par sous-traitant du titulaire</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TVentilationsSousTraitantPaiementDirect">
    <xs:annotation>
      <xs:documentation>Ventilation des montants par sous-traitants des titulaires</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="VentilationSousTraitantPaiementDirect" type="TVentilationSousTraitantPaiementDirect" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Ventilation des montants par sous-traitants des titulaires.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TVentilationSousTraitantPaiementDirect">
    <xs:annotation>
      <xs:documentation>Ventilation du montant par sous-traitant du titulaire</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NatIdSousTraitant" type="TNatIdTiersMarche">
        <xs:annotation>
          <xs:documentation>Type d'Identifiant national de l'opérateur économique.
- 01 SIRET
- 05 TVA,
- 06 HORS UE
- 07 TAHITI, 
- 08 RIDET,
- 09 EN COURS IMMATRICULATION,
- 10 FRWF,
- 11 IREP,</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdSousTraitant" type="cm:Base_Texte9_100">
        <xs:annotation>
          <xs:documentation>Identifiant national du sous-traitant de type :
- numéro siret (SIREN+NIC), (identifiant français, 14 chiffres)
- numéro de TVA intracommunautaire (numéro de TVA intracommunautaire, pour les entreprises de pays membres de l'Union européenne) au moins 9 caractères
- HORS-UE (identifiants pour les entreprises de pays non membres de l'Union Européenne. Code pays ISO 3166 + 16 premiers caractères de la dénomination sociale. Ex. : BRDASILVAMOTORES)
- Tahiti (identifiants pour Tahiti et la Polynésie française, 9 chiffres)
- Ridet (identifiants pour la Nouvelle-Calédonie, 10 chiffres),
- EN_COURS_IMMATRICULATION,
- FRWF (identifiants pour Wallis-et-Futuna, " FRWF " + 14 premières lettres de la raison sociale. Ex. : FRWFDURANDCHAUFFAG),
- IREP (personnes physiques françaises, 5 chiffres + LIEU DE NAISSANCE + NOM + PRENOM. Ex. : 18102VANNESDURANDMATHIEU), 80 caractères au maximum.

Nb : la balise &lt;IdSousTraitant&gt; est un alphanumérique de 9 à 80 caractères.

Pour les seuls identifiants de type SIRET des contrôles de validité sont effectués. La clé de l'identifiant doit être valide, sinon rejet du Marché. 
Les longueurs possibles sont 14 pour le Siret, au moins 9 pour TVA, 18 pour HORS-UE (les deux premiers caractères doivent correspondre au code pays ISO 3166), 9 pour Tahiti (9 chiffres), 9 ou 10 pour Ridet (10 chiffres), 18 caractères au maximum pour FRWF (en plus : les 4 premiers caractères = FRWF), 80 caractères au maximum pour IREP (les 5 premiers caractères sont des chiffres).

Le sous-traitant doit être référencé dans la liste des opérateurs |Sous-traitant] du marché, sinon rejet du Marché.
Le sous-traitant doit être référencé une seule fois dans la «VentilationSousTraitantPaiementDirect» pour un (titulaire, acheteur) donné, sinon rejet du Marché.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MontantHTNotifie" type="cm:Base_Montant">
        <xs:annotation>
          <xs:documentation>Montant HT qui a été notifié à ce sous-traitant.
Ce montant HT notifié au sous-traitant n'est pas compris dans le montant HT notifié au titulaire/co-traitant auquel il est rattaché.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CaractereEstimatifMontantNotifie" type="cm:Base_Booleen">
        <xs:annotation>
          <xs:documentation>Caractère estimatif du montant notifié.
Valeur 1 : le montant est estimatif.
Valeur 0 : le montant est ferme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MontantTVANotifie" type="cm:Base_Montant" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Montant de la TVA correspondant au montant notifié et affecté à ce sous-traitant (supérieur ou égal à zéro).
Balise à servir pour un sous-traitant uniquement si la TVA lui est versée [ne sont concernées que les sous-traitances sur les marchés exclus du dispositif de l'autoliquidation].
Sur un marché bénéficiant du dispositif de l'autoliquidation de la TVA en cas de sous-traitance, le montant de TVA doit être reporté sur le titulaire/co-traitant (donneur d'ordre) auquel est rattaché le sous-traitant.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DureeEnMois" type="cm:Base_Num3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Durée exprimée en mois pour l'exécution des prestations correspondant au montant HT notifié (valeur arrondie à l'entier supérieur, exemple 1 pour 2 semaines) pour un marché public.
Valeur minimum : 1.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConditionsExecutionSousTraitantPaiementDirect" type="TConditionsExecutionSousTraitantPaiementDirect" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Conditions d'exécution du marché pour le sous-traitant à paiement direct</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

